<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1010679816661-esgabqrt9pmjd8bcttkg66gq4pivtm89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010679816661-esgabqrt9pmjd8bcttkg66gq4pivtm89</string>
	<key>API_KEY</key>
	<string>AIzaSyAD99YGWNVNwNf2iwaKbElh4TjH0Ls_e4I</string>
	<key>GCM_SENDER_ID</key>
	<string>1010679816661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huyanh.BeyondTinnitusv2</string>
	<key>PROJECT_ID</key>
	<string>beyondtinnitus-340f1</string>
	<key>STORAGE_BUCKET</key>
	<string>beyondtinnitus-340f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010679816661:ios:5ec51f0c6c3c37d4</string>
	<key>DATABASE_URL</key>
	<string>https://beyondtinnitus-340f1.firebaseio.com</string>
</dict>
</plist>